.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;

    @media (max-width: 768px) {
        gap: 110px;
    }

    &__title {
        font-size: 288px;
        font-weight: 700;
        color: #FF6060;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 96px;
        }
    }
    &__subtitle {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;

        @media (max-width: 768px) {
            font-size: 18px;
            text-align: center;
        }
    }
    &__link {
        color: #000;
    }
}