$nav-font-size: 1.5rem;
$nav-font-weight: 500;
$nav-font: 'Montserrat', sans-serif;

.nav {
    display: flex;
    align-items: center;
    gap: 50px;

    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        font-size: $nav-font-size;
        font-weight: $nav-font-weight;
        font-family: $nav-font;
        color: #000;
        &:hover {
            color: inherit;
        }
    }

    &__link.active {
        text-decoration: underline;
    }
}