:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 50px;
  padding-block-start: 2.375rem;
  min-height: calc(100vh - 2.375rem);

  @media (max-width: 768px) {
    padding-block-start: 1.5rem;
    gap: 30px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: min(100% - 2.5rem, 1240px);
  margin-inline: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
