.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100% - 2.5rem, 1240px);
    margin-inline: auto;

    &__logo {
        width: clamp(8rem, 25vw, 13rem);
    }
}