.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.813rem 6.25rem 3.125rem 6.25rem;

    &__logo {
        width: 90%;
        min-width: 8rem;
    }
}